.btn-auth {
  border: none;
  outline: none;
  background-color: var(--clr-black);
  color: var(--clr-white);
  width: 100%;
  padding: 1rem 0;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  cursor: pointer;
  margin-top: 1rem;
}

.btn-auth.btn-google-auth {
  background-color: var(--clr-white);
  border: 1px solid var(--clr-black);
  color: var(--clr-black);
}
