:root {
  --fs-400: 1rem;
  --fs-600: 1.875rem;
  --fs-700: clamp(2.25rem, 5vw, 6rem);

  --fw-200: 200;
  --fw-400: 400;
  --fw-600: 600;

  --clr-black: #19110b;
  --clr-white: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  --webkit-font-smoothing: antialiased;
}

picture,
img,
video,
svg {
  max-width: 100%;
  /* display: block; */
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body {
  min-height: 100vh;
  font-family: "Barlow Condensed", sans-serif;
  font-size: var(--fs-400);
  font-weight: var(--fw-400);
  color: var(--clr-black);
}

/* utility classes */

.fw-200 {
  font-weight: var(--fw-200);
}

.fw-400 {
  font-weight: var(--fw-400);
}

.fw-600 {
  font-weight: var(--fw-600);
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.section {
  padding: 8rem 0 6rem;
}

.section-wrapper {
  padding: 0 1rem;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.text-align-left {
  text-align: left;
}
